/* Projects.css */
.vertical-timeline-container .custom-timeline-element .vertical-timeline-element-date {
  color: #000;
}

.vertical-timeline-container {
  max-width: 1000px;
  margin: 0 auto; 
}

.custom-timeline-element {
  color: #fff !important;
}
