/* Navigation.css */
nav {
  background-color: #444;
  padding: 0.5rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: #2ECC71;
}

nav li a.active {
  text-decoration: none;
  font-weight: bold;
  color: #2ECC71;
}

.mobile-nav-icon {
  display: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  
  .mobile-nav-icon {
    display: block; 
  }
  
  .nav-links.show {
    display: flex; 
    flex-direction: column;
  }

  .nav-links li {
    margin: 0;
  }
}
