/* Contact.css */

#contact {
  width: 100%;
  background-color: #333;
  padding:0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: calc(50% - 20px); /* Adjusted width */
  margin-left: 0px;
  margin-right: 40px;
  margin-bottom: 20px; /* Added margin for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.contact-content h3 {
  font-size: 24px;
}

.contact-content p {
  margin-bottom: 15px;
  text-align: center; 
}
.contact-content p a{
  color: #2ECC71;
}

.contact-form-container {
  width: calc(50% - 20px); /* Adjusted width */
  margin-bottom: 20px; /* Add margin-bottom for better spacing */
}

.contact-form {
  background-color: #f9f9f9;
  margin-top: 90px;
  padding: 20px;
  border-radius: 8px;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 22px); /* Adjusted width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #2ECC71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: calc(100% - 0px);
}

button[type="submit"]:hover {
  background-color: #229250;
}
