/* Header.css */

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  z-index: 1;
}

.left,
.right {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  border: none;
}

.left img,
.right img {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  border: none;
}

.center {
  flex: 1;
  text-align: center;
  margin-top: 1rem;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  font-style: italic;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: right;
  }

  .right {
    display: none; 
  }

}
