/* Navigation.css */

nav {
  background-color: #444;
  padding: 0.5rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-around;

}

nav li {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}
